<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kim.student.mapper.StudentMapper">
    <resultMap id="studentResultMapper" type="Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="age" column="age"/>
        <result property="createAt" column="createAt"/>
        <result property="updateAt" column="updateAt"/>
    </resultMap>
<!--    전체 조회-->
    <select id="findAll" resultMap="studentResultMapper">
        select id,
        name,
        email,
        age,
        createAt,
        updateAt from student
        order by id desc;
    </select>
<!--    단건조회-->
    <select id="findById" resultMap="studentResultMapper">
        select id,
        name,
        email,
        age,
        createAt,
        updateAt from student
        where id = #{id}

    </select>
<!--    등록-->
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into student(name, email, age, createAt, updateAt)
        VALUES
        (#{name},#{email},#{age},now(),now())

    </insert>
<!--    수정-->
<update id="update" >
    update student
    set name=#{name},email=#{email},age=#{age},updateAt=now()
    where id=#{id}
</update>
<!--    삭제-->
    <delete id="delete">
        delete from student
        where id=#{id}

    </delete>
</mapper>